{% load static %}
<link href="{% static 'FLLapp/animalsearch.css' %}">
<form action="{% url 'FLLapp:animalsearchresults' %}">
  What state can you pick the animal up from?
  <select name="state">
    {% for state in states %}
      <option value="{{state}}">{{state}}</option>
    {% endfor %}
  </select>
  What type of animal should it be?
  <input type="radio" name="kind" value=0 checked> Rodent<br>
  <input type="radio" name="kind" value=1> Dog<br>
  <input type="radio" name="kind" value=2> Cat<br>
  <input type="radio" name="kind" value=3> Primate<br>
  <input type="radio" name="kind" value=4> Bird<br>
  <input type="radio" name="kind" value=5> Other/Any<br>
  <input type="checkbox" name="injured" value=1>Can it be injured?
  <input type="submit">
</form>
