{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'FLLapp/index.css' %}" />
<title>Lab to Rehab</title>
   <div>
      	<ul id="menu">
      	    <li><a href="/about">About us</a></li>
           <li><a href="/laws">Laws</a></li>
         	  <li><a href="/search">Search</a></li>
           <li><a href="/animalsearch">Adopt</a></li>
           <li><a href="/donate">Donate</a></li>
           <li><a href="/contact">Contact us</a></li>
        </ul>
      </div>
      <div id="title">
        <p>Lab to Rehab</p>
        {% load static %}
        <img src="{% static "FLLapp/Logo.png" %}" alt="Logo"/>
      </div>
      <div id="main">
      	<p id="desc">The website that connects Laboratories to Animal Rehabilitation centers.</p>
      </div>
